<!--RECENT_VISITORS_POPUP-->
.b-popup
    button(type="button" class="close" data-dismiss="alert")
    img(src="", alt="country") 
    |A user from Brunswick, Canada viewed “Artsy Daria Photography”
<!--end RECENT_VISITORS_POPUP-->