.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
}

.loading-spinner {
    animation: loading-spinner-rotate 1s linear infinite;
    background: transparent;
    border: 4px solid #439a99;
    border-bottom-color: #fff;
    border-radius: 50%;
    height: 50px;
    left: 50%;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 50px;
    margin: -25px 0 0 -25px;
}

@keyframes loading-spinner-rotate {
    100% {
        transform: rotate(360deg);
    }
}
