/*slider*/
.home-slider {
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }

    .owl-nav {
        position: static;
    }

    .owl-dots {
        top: auto;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 25px;
        z-index: 1;

        .owl-dot {
            width: 32px;
            height: 4px;
            opacity: 0.4;
            background-color: white;
            margin: 0 5px;

            &.active,
            &:hover {
                opacity: 1;
            }
        }
    }

    .owl-nav .arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 26px;
        height: 42px;
        opacity: 0.8;
        z-index: 10;

        &:hover {
            opacity: 1;
        }

        &-left {
            background: url(../img/keyboard-left-arrow-button.png) center/contain no-repeat;
            left: 35px;
        }

        &-right {
            background: url(../img/keyboard-right-arrow-button.png) center/contain no-repeat;
            right: 35px;
        }
    }

    .slider-content {
        right: auto;
        top: 50px;
        left: 15px;
        max-width: 455px;
        height: auto;
        text-align: left;
        padding: 30px;
        transform: none;
        margin-right: 0;

        &__subtitle {
            color: #6ac8c7;
            font-family: "Champagne";
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 0;
            margin: 0 0 15px;
            border-bottom: none;
        }

        &__title {
            color: #ffffff;
            font-size: 30px;
            font-weight: 700;
            text-transform: none;
            margin: 0 0 15px;
        }

        &__text {
            max-height: 96px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #ffffff;
            font-family: "Roboto";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin: 0 0 15px;
            padding: 0;
            border-bottom: none;
        }

        &__btn {
            position: relative;
            max-width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 10px;
            padding: 10px 62px 10px 30px;

            &::after {
                position: absolute;
                content: '';
                width: 22px;
                height: 22px;
                background: url(../img/right-arrow.png) center/contain no-repeat;
                top: 50%;
                right: 30px;
                transform: translate(0, -50%);
            }
        }
    }

    @media screen and (max-width: 767px) {
        .owl-nav {
            display: none;
            pointer-events: none;
        }

        .slider-content {
            top: 15px;
            width: calc(100% - 30px);
        }
    }
}

/* slick slider default mobile */
.js-slider {
    &-default {
        &.slick-slider {
            button {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: getrem(28px);
                height: getrem(28px);
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                font: normal normal normal 14px/1 'FontAwesome';
                font-size: getrem(7px);
                color: rgba(#333333, 1);
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background-color: #ffffff;
                z-index: 10;

                &.disabled {
                    display: none;
                }
            }

            .slick-prev {
                left: getrem(15px);

                &::before {
                    content: "\f053";
                }
            }

            .slick-next {
                right: getrem(15px);

                &::before {
                    content: "\f054";
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        &-default {
            &.slick-slider {
                button {
                    width: getvw(28px);
                    height: getvw(28px);
                    font-size: getvw(7px);

                    &.disabled {
                        display: none;
                    }
                }

                .slick-prev {
                    left: getvw(15px);

                    &::before {
                        content: "\f053";
                    }
                }

                .slick-next {
                    right: getvw(15px);

                    &::before {
                        content: "\f054";
                    }
                }
            }
        }

    }
}