@import "./mixins";
@import "./fonts";

/*base styles*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

input[name="selectedMarketNew"] {
    background: transparent;
    border: 0;
    font-family: "Champagne";
    font-size: 24px;
    font-weight: 600;
    width: 261px;
    letter-spacing: .6px;
    outline: none;
    -webkit-appearance: none;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@import "./slider";
@import "./form";
@import "./modal-search";
@import "./vendor-link";
@import "./Google";
@import "./join";
@import "./location";
@import "./users-contact";
@import "./VendorSearch";